:root{
    --cinza: #F5F5F5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.background{
    background-color: var(--cinza);
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    margin: 0 98px;
}

.logo-container{
    margin-top: 80px;
}

.nav-container{

}

.link{
    
}