:root{
    --cinza: #F5F5F5;
    --branco: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;    
}

.background{
    background-color: var(--cinza);
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    margin-top: 64px;
    margin-bottom: 36px;
}


.nav-container{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.link{
    color: black;
    font-weight: 500;
    font-size: 16px;
    
  
}

.link:hover{
    border-bottom: 3px solid  rgb(143, 214, 148);
    /* rgb(143, 214, 148) 71%, rgb(0, 163, 133) 100%, rgb(143, 214, 148) 71% */
}

.caixa-pesquisa{
    width: 265px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
}

::placeholder{
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #A9ACA9;
}

.input{
    box-shadow: none;
    border: none;
    outline: 0;
}

.botao-busca{
    background: url(/assets/icons/search.svg);
    background-repeat: no-repeat;
    box-shadow: none;
    border: none;
    appearance: none;
    cursor: pointer;
}

.caixa-main{
    background-color: var(--branco);
    width: 1200px;
    margin: 0 auto;
    border-radius: 20px;
    margin-bottom: 96px;
}


.container-projeto{
    display: flex;
    margin-left: 40px;
    padding-top: 150px;
}

.titulo{
    font-weight: 700;
    font-size: 24px;
}

.container-texto{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 8px;
}

.container-paragrafo{
    margin-top: 80px;
}

.paragrafo{
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    text-align: justify;
}

.container-caixa{
    display: flex;
    flex-wrap: wrap;
    margin-left: 120px;
    margin-right: 120px;
    padding-bottom: 104px;
    justify-content: space-between;
}

.caixa-membros{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(30, 83, 35, 0.2);
    border-radius: 31px;
    width: 243px;
    height: 376px;
    margin-top: 112px;
}

.container-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo1{
    font-family: 'Inter' sans-serif;
    font-weight: 600;
    font-size: 12px;
    margin-top: 32px;
    line-height: 20px;
}

.info{
    font-family: 'Inter' sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    margin-top: 16px;
    width: 224px;
}

.lattes{
    font-family: 'Inter' sans-serif;
    font-weight: 300;
    font-size: 10px;
    text-decoration:none;
    color: #000000;
    text-align: center;
    margin-top: 24px;
}

.email{
    font-family: 'Inter' sans-serif;
    font-weight: 300;
    font-size: 10px;
    color: #000000;
    text-align: center;
    margin-top: 8px;
}



