.gallery{
  margin-top: 40px;
}

.gallery > .title{
  font-size: 16px;

  font-weight: bold;
}

.gallery > .pictures{
  margin-top: 24px;

  display: flex;
  flex-direction: column;
  overflow: auto;

  gap: 24px;
}

.gallery > .picture{
  width: 100%;
}

@media (min-width: 768px) {
  .gallery > .title{
    font-size: 24px;
  }

  .gallery > .pictures{
    flex-direction: row;

    gap: 40px;
  }

  .gallery > .picture{
    width: 320px;
  }
}